# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Specific files in the repository (due to size limitation)
Input_Data/Heino/baseRaster/AHN_05m_dsm.tif
Input_Data/Heino/baseRaster/DEM_Europe.tif
Input_Data/Heino/outputRaster/DEM_Europe_100000m_InputDEM.tif
Input_Data/Heino/csv/AHN_1m_dsm_1200m_InputDEM_Points_Calc.csv
Input_Data/Heino/csv/AHN_1m_dsm_1200m_InputDEM_Points_Calc.csv.7z
Input_Data/Heino/csv/AHN_1m_dsm_1200m_InputDEM_Points.csv
Input_Data/Heino/csv/AHN_05m_dsm_1200m_InputDEM_Points_Calc.csv
Input_Data/Heino/csv/AHN_05m_dsm_1200m_InputDEM_Points_Calc.csv.7z
Input_Data/Heino/csv/AHN_05m_dsm_1200m_InputDEM_Points.7z
Input_Data/Heino/csv/AHN_05m_dsm_1200m_InputDEM_Points.csv
Input_Data/Heino/csv/AHN_5m_dsm_20000m_InputDEM_Points_Calc.csv
Input_Data/Heino/csv/AHN_5m_dsm_20000m_InputDEM_Points_Calc.csv.7z
Input_Data/Heino/csv/AHN_5m_dsm_20000m_InputDEM_Points.csv
Input_Data/Heino/csv/DEM_Europe_100000m_InputDEM_Points_Calc.csv
Input_Data/Heino/csv/DEM_Europe_100000m_InputDEM_Points_Calc.csv.7z
Input_Data/Heino/csv/DEM_Europe_100000m_InputDEM_Points.csv
Input_Data/Heino/csv/DEM_Europe_100000m_InputDEM_Points.csv.7z
Results/Santana/CitySim/Santana_SW.out.zip