# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Specific files in the repository (due to size limitation)
Input_Data/Heino/baseRaster/AHN_05m_dsm.tif
Input_Data/Heino/outputRaster/DEM_Europe_100000m_InputDEM.tif
Results/Santana/CitySim/Santana_SW.out.zip
Scripts/compressFolder.py
Scripts/12-ResultsComparisonxSpatialResolution.py